@{
    Layout = null;
}
@model IEnumerable<Sales.Models.EmpListModel>
<table id="datatable" class="table  table-hover table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Assign</th>
            <th>Customer</th>
            <th>Type</th>
            <th>Grade</th>
            <th>Quote</th>
            <th>Speciality</th>
            <th>Visit Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @{ 
                int UserId = Convert.ToInt32(Session["UserID"]);
                int sMonth = Convert.ToInt32(ViewBag.Monthh);
                int CountCalls = BLL.SchedualeBLL.List().Where(e => e.ManEmpId == UserId && e.CustomerId == item.customers.Id && e.Month == sMonth).Count();
             }
            @{ int quote = Convert.ToInt32(item.customers.CustomerBridgeGrade.Where(e => e.CustomerId == item.customers.Id).FirstOrDefault().Grades.Quote); }
            <td>
                @if (CountCalls < quote)
                {
                    <input type="checkbox" value="@item.customers.Id" name="customers" class="customers" />
                }
            </td>
            <td>@item.customers.Name</td>
            <td>@item.customers.Types.Type</td>
            <td>@item.customers.CustomerBridgeGrade.Where(e => e.CustomerId == item.customers.Id).FirstOrDefault().Grades.Grade</td>
            <td>@item.customers.CustomerBridgeGrade.Where(e => e.CustomerId == item.customers.Id).FirstOrDefault().Grades.Quote</td>
            <td>@item.customers.Specials.Name</td>
            <td>
                @if (CountCalls < quote)
                {
                    for (int i = 1; i <= quote; i++)
                    {
                        <input type="date" class="form-control input-sm visitdate" data-emp="@item.customers.Id" />
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>