@{
    Layout = null;
}
@model IEnumerable<Entity.Customers>
<table id="datatable" class="table  table-hover table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Pharmacy</th>
            <th>Address</th>
            <th>Area</th>
            <th>Type</th>
            <th>Speciality</th>
            <th>OPR</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Phone</td>
            <td>@item.NearestPharmacyP</td>
            <td>@item.Address</td>
            <td>@item.Areas.Area</td>
            <td>@item.Types.Type</td>
            <td>@item.Specials.Name</td>
            <td> <button class="btn btn-xs btn-success" onclick="Approve('@item.Id')"><i class="fa fa-check"></i></button></td>
        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>