@{
    Layout = null;
}
@model IEnumerable<Sales.Models.CustomerGradeBridgeModel>
<table id="datatable" class="table  table-hover table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Employee</th>
            <th>Customer</th>
            <th>Grade</th>
            <th>OPR</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.customerBridgeGrade.Id</td>
            <td>@item.manEmp.Name</td>
            <td>@item.customers.Name</td>
            <td>@item.grades.Grade</td>
            <td><button class="btn btn-xs btn-success" onclick="ApproveGrade(@item.customerBridgeGrade.Id)"><i class="fa fa-check"></i></button></td>
        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#datatable').DataTable();
    });
</script>