@{
    Layout = null;
}
@model IEnumerable<Entity.ManEmp>

@{
    int Rule = Convert.ToInt32(Session["Rule"]);
    if (Rule == 1)
    {
        //means he is employee
        int Id = @Convert.ToInt32(Session["UserID"]);
        <div class="form-control input-sm">@Model.Where(e => e.Id == Id).FirstOrDefault().Name</div>
        <input type="text" id="employee" value="@Id" class="hide" />
    }
    else
    {
<select class="form-control input-sm" id="employee">
    @if (Convert.ToInt32(Session["Rule"]) == 0)
    {
        foreach (var item in Model)
        {
            <option value="@item.Id" @(ViewBag.Id == item.Id ? "selected" : "")>@item.Name</option>
        }
    }
    else
    {
        foreach (var item in Model)
        {
           if (item.Lead == Convert.ToInt32(Session["UserID"]))
            {
                <option value="@item.Id" @(ViewBag.Id == item.Id ? "selected" : "")>@item.Name</option>
            }
        }

    }
</select>
    }
}


