<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="msapplication-tap-highlight" content="no">
    <meta content="" name="descriptison">
    <meta content="" name="keywords">
    <title>@ViewBag.Title | EL-Gharib System </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header closed-sidebar">
        <div class="app-header header-shadow bg-light header-text-dark">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button class="hamburger close-sidebar-btn hamburger--elastic" type="button" data-class="closed-sidebar"><span class="fa fa-bars" style="font-size:20px;"></span></button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button class="hamburger hamburger--elastic mobile-toggle-nav" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav" type="button"><span class="btn-icon-wrapper"><i class="fa fa-ellipsis-v fa-w-6"></i></span></button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-right">
                </div>
                <div class="app-header-left">
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">@Session["Username"]</div>
                                    <div class="widget-subheading">
                                        @if (Convert.ToInt32(Session["Rule"]) == 1)
                                        {
                                            <span>Manager</span>
                                        }
                                        else
                                        {
                                            <span>Employee</span>
                                        }
                                    </div>
                                </div>
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a class="p-0 btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img class="rounded-circle" width="42" src="~/Imgs/avatarPic.png" alt=""><i class="fa fa-angle-down ml-2 opacity-8"></i></a>
                                        <div class="dropdown-menu dropdown-menu-left" tabindex="-1" role="menu" aria-hidden="true">
                                            @*<a class="dropdown-item" type="button" href="~/Home/UserProfile" tabindex="0">Account Settings </a>*@
                                            <div class="dropdown-divider" tabindex="-1"></div>
                                            <a class="dropdown-item" type="button" href="~/Home/Logout" tabindex="0">Logout </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow bg-primary sidebar-text-light">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button class="hamburger close-sidebar-btn hamburger--elastic" type="button" data-class="closed-sidebar"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button class="hamburger hamburger--elastic mobile-toggle-nav" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav" type="button"><span class="btn-icon-wrapper"><i class="fa fa-ellipsis-v fa-w-6"></i></span></button>
                    </span>
                </div>
                <div class="scrollbar-sidebar">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu">
                            <li class="app-sidebar__heading">Dashboard</li>
                            <li><a class="mm-active" href="~/Home/"><i class="metismenu-icon pe-7s-home"> </i>Homepage </a></li>
                            @if (Convert.ToInt32(Session["Rule"]) == 1)
                            {
                                <li>
                                    <a href="#"><i class="metismenu-icon pe-7s-key"></i>Managers Management<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                    <ul>
                                        <li><a href="~/Managers/"><i class="metismenu-icon"> </i>Create New</a></li>
                                        <li><a href="~/Managers/Operations"><i class="metismenu-icon"> </i>  Operations </a></li>
                                    </ul>
                                </li>
                            }
                            <li class="app-sidebar__heading">Main System</li>
                            <li>
                                <a href="#"><i class="metismenu-icon pe-7s-users"></i>Customers Management<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                <ul>
                                    <li><a href="~/Customers/"><i class="metismenu-icon"> </i>Create New</a></li>
                                    <li><a href="~/Customers/Operations"><i class="metismenu-icon"> </i> Operations </a></li>
                                    @if (Convert.ToInt32(Session["Rule"]) == 1)
                                    {
                                        <li><a href="~/Specials/"><i class="metismenu-icon"> </i> Specials </a></li>
                                        <li><a href="~/Areas/"><i class="metismenu-icon"> </i> Areas </a></li>
                                        <li><a href="~/Grades/"><i class="metismenu-icon"> </i> Grades </a></li>
                                        <li><a href="~/Types/"><i class="metismenu-icon"> </i> Types </a></li>
                                    }
                                </ul>
                            </li>
                            <li><a  href="~/CustomerBridgeGrade/"><i class="metismenu-icon pe-7s-graph"> </i>My Grades </a></li>
                            @if (Convert.ToInt32(Session["Rule"]) == 1)
                            {
                                <li>
                                    <a href="#"><i class="metismenu-icon pe-7s-world"></i>Employees Management<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                    <ul>
                                        <li><a href="~/Employees/"><i class="metismenu-icon"> </i> Create New </a></li>
                                        <li><a href="~/Employees/Operations"><i class="metismenu-icon"> </i> Operations</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="metismenu-icon pe-7s-cup"></i>Products Management<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                    <ul>
                                        <li><a href="~/Products/"><i class="metismenu-icon"> </i> Create New </a></li>
                                        <li><a href="~/Products/Operations"><i class="metismenu-icon"> </i> Operations</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="metismenu-icon pe-7s-config"></i>Type Colors Management<i class="metismenu-state-icon pe-7s-angle-down caret-left"></i></a>
                                    <ul>
                                        <li><a href="~/Colors/"><i class="metismenu-icon"> </i> Create New </a></li>
                                        <li><a href="~/Colors/Operations"><i class="metismenu-icon"> </i> Operations</a></li>
                                    </ul>
                                </li>

                            }
                            <li><a href="#"><i class="metismenu-icon pe-7s-ticket"> </i>  Sales Scheduale </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
